body{
	background-image: url(dice.jpeg);
	background-position: center;
  	background-size: cover;
  	height:100%;
}

.box{
	padding: 15px;
	border: 2px solid lightgrey;
	border-radius: 10px;
	width:40%;
	height: auto;
}
.paras,h3{
	font-family: Calibri;
	font-size: 15pt;
	color: white;
	text-align: justify;
}